@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:400,700');

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background: #fef6eb;
	border: 20px solid #C25B56;
	box-sizing: border-box;
	color: #525564;
	text-align: center;
}
@media (max-width: 480px) {
	body {
		border-left: none;
		border-right: none;
	}
}
h1 {
	font-family: 'Noto Serif', serif;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 4.4em;
	text-transform: uppercase;
}
h3 {
	padding: 0;
	font-weight: normal;
	font-size: 2em;
	margin: 0.5em;
}
p {
	font-size: 1em;
	margin: 1em;
	padding: 0;
	color: #c25b56;
}
a {
	color: #c25b56;
	font-weight: 700;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}